<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>LISTA DE PRODUCTOS</h2>
</div>
<div>
  <table class="form" border="1" cellpadding="5" cellspacing="1">
    <tr>
      <th>Nombre</th>
      <th>Id</th>
      <th>precio</th>
      <th>Descripcion</th>
    </tr>
    <tr *ngFor = "let d of data">
      <td><a>{{d.nombre_pro}}</a></td>
      <td><a>{{d.idproductos}}</a></td>
      <td><a>{{d.precio}}</a></td>
      <td><a>{{d.descripcion}}</a></td>
    </tr>
  </table>
</div>
