
<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>ELIMINAR USUARIO</h2>

    Correo     <input type="email" size="20" maxlength="20" [(ngModel)]="correo" name="u" placeholder="Correo" required /><br>

    <input type="submit" value="Enviar" class="btn btn-primary btn-block btn-large" (click)=" eliminarUsua($event)"/>

</div>
