
<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>CREAR PRODUCTO</h2>

    ID Productos  <input type="text" size="20" maxlength="20" [(ngModel)]="idproductos" name="u" placeholder="ID Producto" required /><br>
    Nombre     <input type="tex" size="20" maxlength="20" [(ngModel)]="nombre_pro" name="u" placeholder="Nombre" required /><br>
    Descripcion  <input type="tex" size="20" maxlength="20" [(ngModel)]="descripcion" name="u" placeholder="Descripcion" required /><br>
    Precio <input type="text" size="20" maxlength="20" [(ngModel)]="precio" name="u" placeholder="Precio"required /><br>
    <input type="submit" value="Enviar" class="btn btn-primary btn-block btn-large" (click)=" crearProdu($event)" />


</div>
