<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>LISTA DE USUARIOS</h2>
</div>
<div>
  <table class="form" border="1" cellpadding="5" cellspacing="1">
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
    </tr>
    <tr *ngFor = "let d of data">
      <td><a>{{d.nombre}}</a></td>
      <td><a>{{d.correo}}</a></td>

    </tr>
  </table>
</div>
