
<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>MODIFICAR COMPRAS</h2>

  ID Compra  <input type="text" size="20" maxlength="20" [(ngModel)]="idcompra" name="u" placeholder="ID Compra" required /><br>
  ID Productos  <input type="tex" size="20" maxlength="20" [(ngModel)]="idproductos" name="u" placeholder="ID Producto" required /><br>
  Cantidad <input type="text" size="20" maxlength="20" [(ngModel)]="cantidad" name="u" placeholder="Cantidad"required /><br>
  <input type="submit" value="Enviar" class="btn btn-primary btn-block btn-large"  (click)=" actuCompras($event)"  />

</div>
