<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>ELIMINAR PRODUCTO</h2>

    ID Productos  <input type="text" size="20" maxlength="20" [(ngModel)]="idproductos" name="u" placeholder="ID Producto" required /><br>
    <input type="submit" value="Enviar" class="btn btn-primary btn-block btn-large" (click)=" eliminarProdu($event)" />

</div>
