<html lang="len">
<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>REGISTRO</h2>
  <meta charset="UTF-8">
  <style>


  </style>
  <body>
  

  Nombre     <input type="text" size="20" maxlength="20" [(ngModel)]="nombre" name="u" placeholder="Nombre" required /><br>
  Correo     <input type="email" size="20" maxlength="20" [(ngModel)]="correo" name="u" placeholder="Correo" required /><br>
  Contraseña <input type="password"  maxlength="8" [(ngModel)]="contrasena" name="u" placeholder="Password" required /><br>
  Nombre Factura <input type="text" size="20" maxlength="20" [(ngModel)]="factura" name="u" placeholder="Nombre para Factura"required /><br>
  Celular    <input type="tel" size="20" maxlength="20" [(ngModel)]="celular" name="u" placeholder="Celular"required /><br>
  NIT        <input type="tex" size="20" maxlength="20" [(ngModel)]="nit" name="u" placeholder="Nit" required /><br>

    <input type="submit" value="Enviar" class="btn btn-primary btn-block btn-large"  (click)=" save($event)"/>
  </body>
</div>

</html>
